/**
* Css Gradient Background Animation
* Thanks for this tutorial:
* https://www.youtube.com/watch?v=h1POzKuZaNU
*/
body {
	margin: 0;
	padding: 0;
}

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 396px;
	height: 200px;
	border: 10px solid #000;
	border-radius: 20px;
	-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
	background-image: repeating-linear-gradient(45deg, #000, #000 10px, #fff 10px, #fff 20px);
	animation: animate 5s linear infinite;
}

h1 {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 3.8em;
	color: #fff;
	text-shadow: 0 2px 2px rgba(0,0,0,1);
}

@keyframes animate {
	0%{
		background-position: 0;
	}
	100%{
		background-position: 400px;
	}
}